-- Agregar campo is_premium a profiles
ALTER TABLE profiles ADD COLUMN IF NOT EXISTS is_premium BOOLEAN DEFAULT false;

-- Crear tabla para profesionales
CREATE TABLE IF NOT EXISTS profesionales (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    admin_id UUID NOT NULL REFERENCES profiles(id) ON DELETE CASCADE,
    nombre TEXT NOT NULL,
    especialidad TEXT,
    activo BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Políticas RLS para profesionales
ALTER TABLE profesionales ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Los dueños pueden ver sus profesionales" ON profesionales
    FOR SELECT USING (auth.uid() = admin_id);

CREATE POLICY "Los dueños pueden insertar sus profesionales" ON profesionales
    FOR INSERT WITH CHECK (auth.uid() = admin_id);

CREATE POLICY "Los dueños pueden actualizar sus profesionales" ON profesionales
    FOR UPDATE USING (auth.uid() = admin_id);

CREATE POLICY "Los dueños pueden eliminar sus profesionales" ON profesionales
    FOR DELETE USING (auth.uid() = admin_id);

-- Agregar profesional_id a la tabla de reservas si existe (opcional, para asociar la reserva al profesional)
ALTER TABLE reservas ADD COLUMN IF NOT EXISTS profesional_id UUID REFERENCES profesionales(id) ON DELETE SET NULL;
